table {
      table-layout: fixed;
      border-collapse: collapse;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 93px;
      width: 700px;
      font-weight: 1000;
      color: red;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: black;
    }
    th, td {
      border: 0px solid black;
      padding: 5px;
      text-align: left;
      width: 30px;
      width: fit-content;
    }

    tr {
      
      line-height: 90%;
      align-items: center;
  }
    .column1width{
      width:25%;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20;
      
    }
    .big-button {
      width: 150px; /* Set the width of the button */
      height: 50px; /* Set the height of the button */
      font-size: 20px; /* Increase the font size */
      padding: 10px; /* Add some padding for better visual appearance */
      margin: 5px; /* Add some margin around the button */
      
    }

 
    .lottofont{
      color: red;

    }

    .a2{
      font-size: 70px;
      color: red;
    }

    .a3{
      font-size: 70px;
      color: red;
    }

    .bcd{
      column-width: 350px;
    }
    .inputfont{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 50px;
      color:lightblue;
         

    }
    .inputbox{
      background-color:lightblue;
      font-size: 50px;
      width: 100%;  
      font-weight: 1000;

    }